* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2.53px;
  margin-bottom: 16px;
}

.section-description {
  font-size: 18px;
  color: #e4e4e4;
  font-weight: 400;
  line-height: 32px;
}

.mini-title {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2.81px;
  text-transform: uppercase;
  color: #258aff;
  margin-bottom: 49px;
}

/*-------HEADER-------*/

header {
  padding-top: 39px;
  background-color: #e3eef8;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 60px;
  align-self: center;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
}

.navigation li {
  margin-right: 35px;
}

.navigation li a:link,
.navigation li a:visited {
  color: #1f1f1f;
  text-decoration: none;
}

.btn-nav-start {
  text-align: center;
  font-size: 16px;
  border: 2px solid #258aff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 3px;
}

.btn-nav-start:link,
.btn-nav-start:visited {
  color: #258aff;
}

.hero {
  padding-top: 188px;
  margin: 0 auto;
  text-align: center;
  max-width: 614px;
  width: 100%;
}

.hero h2 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2.81px;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 27px;
}

.hero h1 {
  color: #1f1f1f;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -4px;
  margin-bottom: 19px;
}

.fisrt-paragraph {
  font-weight: 400;
  font-size: 21px;
  color: #666666;
  line-height: 36px;
  max-width: 555px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -0.4px;
  padding-bottom: 31px;
}

.form-email {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 493px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.form-email input {
  font-family: 'Karla', sans-serif;
  padding: 18px 24px 18px 24px;
  height: 60px;
  border: none;
  border-radius: 3px;
  outline: transparent;
}

.input-email {
  width: 275px;
  font-size: 18px;
  color: #878b90;
  font-weight: 400;
}

.btn-send {
  background-color: #fc593b;
  width: 209px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.trusted-number {
  font-size: 17px;
  color: #878b90;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 157px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  padding-bottom: 140px;
}

.feature {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.feature h3 {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 7px;
}

.feature p {
  font-size: 17px;
  color: #878b90;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.feature-icon {
  width: 30px;
}

/*-------END HEADER-------*/

/*--------GET STARTED section-------*/

.wrapper-get-started {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.get-started-section {
  background-color: #258aff;
  padding: 70px 0;
}

.text-block,
.img-block {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-block img {
  width: 100%;
}

.get-started-section h3 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2.81px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 49px;
}

.get-started-btn {
  margin-top: 51px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  color: #258aff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px 60px;
}

/*--------END GET STARTED section-------*/

/*------APP FEATURES section--------*/
.app-features-section {
  background-color: #e3eef8;
}

.wrapper-app-features {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 80px 0;
}

.wrapper-app-features .img-block {
  flex: auto;
}

.app-features-section-title {
  color: #1f1f1f;
}

.app-features-section-description {
  color: #666;
  margin-bottom: 95px;
}

.wrapper-app-features-section-feature {
  display: flex;
  justify-content: space-between;
}

.feature-title {
  font-size: 21px;
  color: #000;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 13px;
}

.app-features-section-icon {
  margin-bottom: 32px;
}

.feature-description {
  color: #666;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

#feature-1 {
  margin-right: 100px;
}

.text-block-app-features-section {
  padding-top: 0;
}

.app-features-section .container {
  border-bottom: 1px solid #fff;
}

/*--------END APP FEATURES section---------*/

/*--------SECTION TESTEMONIALS---------*/

.section-testemonials {
  background-color: #e3eef8;
}

.section-testemonials .container {
  padding-top: 158px;
}

.wrapper-testemonials {
  display: flex;
  justify-content: space-between;
}

.text-block-testemonials {
  width: 349px;
  padding-top: 154px;
}

.text-block-testemonials .section-description {
  width: 315px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-container {
  display: grid;
  grid-template-rows: 303px 303px;
  grid-template-columns: 350px 350px;
  grid-gap: 30px;
}

.card-text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1f1f1f;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-weight: 400;
}

.card-person {
  display: flex;
}

.avatar {
  margin-right: 22px;
}

.name {
  font-size: 17px;
  font-weight: 700;
}

.occupation {
  color: #666;
  font-size: 15px;
  line-height: 28px;
}

.wrapper-testemonials {
  padding-bottom: 122px;
}

.logos {
  filter: saturate(0%);
  margin-bottom: 131px;
}

.clients-imgs img {
  width: 100%;
}

/*--------END SECTION TESTEMONIALS---------*/

/*----------SECTION PRICE--------*/
.section-price {
  background-image: url(img/prices-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 137px;
  color: #fff;
  padding-bottom: 137px;
}

.section-price-headings {
  text-align: center;
  width: 611px;
  margin: 0 auto 0 auto;
  margin-bottom: 93px;
}

.mini-title-price {
  color: #fff;
}

.pricing-cards {
  display: flex;
  width: 730px;
  margin: 0 auto;
  justify-content: space-between;
}

.pricing-card {
  max-width: 350px;
  width: 100%;
  background-color: #2b405a;
  border-radius: 6px;
  padding: 29px 35px 29px 45px;
}

.type {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 21px;
}

.popular {
  background-color: #4eab08;
  padding: 5px 15px;
  border-radius: 13px;
  color: #fff;
}

.cost .value {
  font-size: 50px;
  font-weight: 700;
}

.cost .sign {
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}

.cost {
  padding-bottom: 4px;
}

.card-description {
  width: 229px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 26px;
}

.plan-features {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 38px;
}

.plan-features li {
  margin-bottom: 7px;
  line-height: 32px;
}

.plan-features li i {
  margin-right: 10px;
}

.start-trial-btn {
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 40px 14px 40px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  outline: none;
  line-height: 21px;
  background-color: #258aff;
  margin-bottom: 5px;
}

.credit-info {
  font-size: 14px;
  font-weight: 400;
  color: #878b90;
  line-height: 28px;
}

.card-pro {
  background-color: #fff;
  color: #000;
}

.card-pro .card-description {
  color: #666;
}

.btn-pro {
  background-color: #fc593b;
}

.card-basic .popular {
  opacity: 0;
}

/*----------END SECTION PRICE--------*/

/*--------FOOTER----------*/
footer {
  background-color: #e3eef8;
  padding-top: 163px;
  padding-bottom: 127px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left-block {
  width: 318px;
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-description {
  color: #666;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 38px;
}

.social-media {
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.social-media a:link,
.social-media a:visited {
  color: #000;
}

.links-block {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.menu-title {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 51px;
}

.menu {
  list-style: none;
  font-size: 15px;
  font-weight: 700;
}

.menu li {
  margin-bottom: 28px;
}

.menu li a {
  text-decoration: none;
}

.menu li a:link,
.menu li a:visited {
  color: #000;
}

/*--------END FOOTER----------*/
